<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
function getWeather(){
 $.ajax({
  url: 'weather',
  type: 'get',
  success: function(response){
  document.getElementById('temp').innerHTML = response;
  }
 });
}

$(document).ready(function(){
 setInterval(getWeather,5000);
});

function getTimeToWork(){
 $.ajax({
  url: 'directions',
  type: 'get',
  success: function(response){
  document.getElementById('worktime').innerHTML = response;
  }
 });
}

$(document).ready(function(){
 setInterval(getTimeToWork,50000);
});
</script>
</head>
<body>
    <h1 id="temp"></h1>
    <h1 id="worktime"></h1>
</body>
</html>
